*{
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body{
    background: rgb(120, 213, 241);

}
.title{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #fff;
    display: flex;
    width: 500px;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.603);
    
}

.container hr{
    width: 100%;
}

.inicio{
    margin-top: 20px;
}

.inicio input{
    width: 30%;
}

.fim{
    margin-top: 10px;
}

.fim input{
    width: 32.5%;
}

.int{
    margin-top: 10px;
}

.int input{
    width: 38.5%;
}

.btn{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    
}

#btn1:hover{
    cursor: pointer;
    color: red;
    transition: all 0.5s;
}

footer{
    display: flex;
    justify-content: center;
    font-family: initial;
    color: rgb(166, 173, 173);
    size: 10px;
    margin-top: 30px;
}
